<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.trip.base.mapper.StrategyDetailMapper">
  <resultMap id="BaseResultMap" type="cn.wolfcode.trip.base.domain.StrategyDetail">
    <id column="id" property="id" />
    <result column="title" property="title" />
    <result column="createTime" property="createTime" />
    <result column="releaseTime" property="releaseTime" />
    <result column="sequence" property="sequence" />
    <result column="coverUrl" property="coverUrl" />
    <result column="state" property="state" />
    <association property="catalog" javaType="strategyCatalog">
      <id column="sc_id" property="id"/>
      <result column="sc_name" property="name"/>
      <result column="sc_s_id" property="strategy.id"/>
    </association>
    <association property="content" javaType="strategyContent">
      <id property="id" column="id"/>
      <result property="content" column="content"/>
    </association>
  </resultMap>
  <delete id="deleteByPrimaryKey">
    delete from strategydetail
    where id = #{id}
  </delete>
  <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    insert into strategydetail (title, createTime, releaseTime, sequence, catalog_id, coverUrl, 
      state)
    values (#{title}, #{createTime}, #{releaseTime}, #{sequence}, #{catalog.id}, #{coverUrl}, 
      #{state})
  </insert>
  <update id="updateByPrimaryKey">
    update strategydetail
    set title = #{title},
      sequence = #{sequence},
      catalog_id = #{catalog.id},
      coverUrl = #{coverUrl},
      state = #{state}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select id, title, createTime, releaseTime, sequence, catalog_id, coverUrl, state
    from strategydetail
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, title, createTime, releaseTime, sequence, catalog_id, coverUrl, state
    from strategydetail
  </select>

  <select id="selectForList" resultMap="BaseResultMap">
    select sd.id, sd.title, sd.createTime, sd.releaseTime, sd.sequence, sd.catalog_id, sd.coverUrl, sd.state,
    sc.id sc_id,sc.name sc_name,sc.strategy_id sc_s_id
    from strategydetail sd
    JOIN strategycatalog sc ON sd.catalog_id = sc.id
    <where>
      <if test="keyword!=null">
        AND (sd.title LIKE concat('%',#{keyword},'%') OR sc.name LIKE concat('%',#{keyword},'%'))
      </if>
    </where>
  </select>

  <!-- 获取最大的序号 -->
    <select id="getMaxSequence" resultType="int">
      SELECT ifnull(max(sequence),0) FROM strategydetail
    </select>


    <select id="selectByCatalogId" resultType="strategyDetail">
      SELECT id,title FROM strategydetail
      WHERE catalog_id = #{catalogId}
    </select>

  <select id="selectStrategyContentById" resultMap="BaseResultMap">
    select sd.id,sd.title,sd.coverUrl,sc.content
    from strategydetail sd JOIN strategycontent sc ON sd.id = sc.id
    WHERE sd.id=#{id}
  </select>
</mapper>